<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.done"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OtlobActivity"></activity>
        <activity android:name=".MakeAService" />
        <activity android:name=".home4Buttons.ProgramingActivity" />
        <activity android:name=".home4Buttons.TranslateActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".joinDoc.SecurityAccount" />
        <activity android:name=".joinDoc.AccountConnected" />
        <activity android:name=".joinDoc.ProAccountActivity" />
        <activity android:name=".joinDoc.BestProfileActivity" />
        <activity android:name=".joinDoc.PersonalInformationActivity" />
        <activity android:name=".joinDoc.AwayFromActivity" />
        <activity android:name=".joinDoc.JoinAsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ServiceDetailsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SearchServicesActivity" />
        <activity android:name=".home4Buttons.VideoAnimationActivity" />
        <activity android:name=".home4Buttons.GraphicActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>